---
import ContentPage from "$layouts/ContentPage.astro";
import NavSection from "$components/navigation/NavSection.astro";
import NavItem from "$components/navigation/NavItem.astro";
import SiteBanner from "$components/site/SiteBanner.astro";
import Paper from "$components/containers/Paper.astro";
import PaperTitle from "$components/elements/text/PaperTitle.astro";
import Content from "$components/elements/text/Content.astro";
import StickyNote from "$components/containers/StickyNote.astro";
import ArrowButton from "$components/elements/buttons/ArrowButton.astro";
import Hyperlink from "$components/elements/text/Hyperlink.astro";
import Emoticon from "$components/elements/images/Emoticon.astro";
---

<ContentPage title="Home">
    <Fragment slot="navigation">
        <NavSection name="Explore">
            <NavItem name="Home" href="/" />
            <NavItem name="Socials" href="/socials" />
            <NavItem name="Guestbook" href="https://paperbark.atabook.org/" />
        </NavSection>
        <NavSection name="Creations">
            <NavItem name="Characters" href="/ocs" disabled={true} />
            <NavItem name="Playlists" href="/playlists" disabled={true} />
            <NavItem name="Shrines" href="/shrines" disabled={true} />
        </NavSection>
        <NavSection name="Favourites">
            <NavItem name="Music" href="/music" />
            <NavItem name="Games" href="/games" disabled={true} />
            <NavItem name="Media" href="/media" disabled={true} />
            <NavItem name="Links" href="/links" disabled={true} />
            <NavItem name="Blinkies" href="/blinkies" />
        </NavSection>
    </Fragment>

    <Fragment slot="contents">
        <NavSection name="On This Page">
            <NavItem name="Welcome" href="#welcome" />
            <NavItem name="About" href="#about" />
            <NavItem name="Webrings" href="#webrings" />
            <NavItem name="Neighbours" href="#neighbours" />
        </NavSection>
    </Fragment>

    <Fragment slot="header">
        <SiteBanner />

        <div class="motd">
            <StickyNote color="green">
                <Content>
                    <h2>My name has changed!</h2>
                    <p>
                        Since March 2026, I now go by the name <strong>"Paperbark"</strong> online instead of my
                        previous name <strong>"Quasar."</strong>
                    </p>
                    <div class="button-container">
                        <ArrowButton href="/name-change" direction="forwards" color="white">
                            Read more
                        </ArrowButton>
                    </div>
                </Content>
            </StickyNote>
        </div>
    </Fragment>

    <Fragment slot="main">
        <Paper>
            <PaperTitle el="h1" title="Welcome" />
            <Content>
                <p>
                    Hey there, welcome to my website! This place is still a major work in progress, but I try
                    and add new stuff quite often. Feel free to take a look around, and if you'd like you can
                    <Hyperlink href="https://paperbark.atabook.org/"
                        >leave a message in my guestbook</Hyperlink
                    >
                    or <Hyperlink href="/socials">find me on my other socials</Hyperlink>!
                </p>
            </Content>
        </Paper>
        <Paper>
            <PaperTitle el="h2" title="About" />
            <Content>
                <p>I'm Paperbark!</p>
                <ul>
                    <li>Pronouns are "He/Him" or "They/Them"</li>
                    <li>
                        Proudly aroace! <Emoticon src="/images/emoticons/aroace-flag.svg" />
                    </li>
                    <li>
                        My Little Pony fan with an obsession for Vinyl Scratch
                        <Emoticon src="/images/emoticons/vinyl-nod.gif" />
                    </li>
                    <li>I'm a furry and a fursuiter</li>
                    <li>Lover of plushies, pooltoys, and anything else that's soft and cuddly</li>
                    <li>Hugs are 100% encouraged!</li>
                </ul>
            </Content>
        </Paper>
        <Paper>
            <PaperTitle el="h2" title="Webrings" />
            <div class="placeholder-content">
                <p>I'm not part of any webrings yet...</p>
            </div>
        </Paper>
        <Paper>
            <PaperTitle el="h2" title="Neighbours" />
            <div class="placeholder-content">
                <p>There's nobody here yet, but soon there will be!</p>
            </div>
        </Paper>
    </Fragment>
</ContentPage>

<style lang="scss">
    .placeholder-content {
        display: flex;
        flex-direction: column;

        padding-block: 2rem;
        gap: 1rem;

        text-align: center;
        font-style: italic;
    }

    .motd {
        max-width: 32rem;

        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    .neighbour-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

        gap: 1rem;

        .neighbour {
            display: flex;
            flex-direction: column;

            align-items: center;

            gap: 0.5rem;

            font-weight: var(--font-semibold);
            text-align: center;
        }
    }
</style>
